.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px 40px 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-top: 183px;
  margin-bottom: 28px;
  max-width: 709px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 58px;
  line-height: 72px;
  font-style: italic;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  max-width: 683px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

/* Estilos para la sección de recetas */
.recipes {
  max-height: 800px;
  min-height: 720px;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 0 80px;
  color: #ffffff;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  margin-bottom: 24px;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 215px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  margin-top: 24px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 100px 0 120px 0;
}

.reservation__title {
  margin: 0 auto 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  display: block;
  margin-bottom: 8px;
}

.form__input {
  height: 60px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #838383;
  font-size: 20px;
  margin-top: 15px;
}

.form__button {
  padding: 15px;
  background-color: #2f80ed;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox-container {
  margin: 0 auto;
  margin-bottom: 120px;
  box-sizing: border-box;
}

.form__input_type_checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 12px 0 0;
  padding: 0;
}

.form__label_direction_right {
  display: inline;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__button_type_submit {
  width: 100%;
}

input,
textarea {
  box-sizing: border-box;
}
